* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #F5F5F7;
}


.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 60px;
}


.header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.logo {
    color: #5B47D1;
    font-weight: 700;
    font-size: 24px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-bar ul li {
    font-size: 24px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #030303;
}


.banner {
    height: 420px;
    background-image: url(../img/e11fe0289d1ad6e93656e54c43b99f9275d82560.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.banner-content {
    color: white;
    text-align: center;
}

.banner-content h1 {
    font-size: 48px;
}

.banner-content p {
    font-size: 20px;
}


.card-title {
    text-align: center;
    margin: 40px 0;
}

.card-title h2 {
    font-size: 36px;
    font-weight: 700;
}


.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


.card-banner {
    width: 360px;
    display: flex;
    flex-direction: column;
}


.card-logo {
    width: 100%;
    height: 240px;
}
#one{
    background: #C7B8FF;
}
#two{
    background: #FFB8D8;
} 
#three{
    background: #B8E0FF;
}
#four{
    background: #D4FFB8;
}
#five{
    background: #FFE4B8;
}
#six{
    background: #FFD4B8;
}

.card-auth {
    display: flex;
    gap: 40px;
    padding: 10px;
    background-color: #fff;
}

.card-auth span {
    font-size: 13px;
    background-color: #fff
}


.card-info h2 {
    font-size: 22px;
    padding: 8px;
    background-color: #fff
}

.card-info p {
    font-size: 15px;
    padding: 8px;
    background-color: #fff
}


.footer {
    background: #1f1f1f;
    color: #bdbdbd;
    padding: 60px 0;
    margin-top: 80px;
}

.footer-inner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 120px;
}

.footer-logo {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 12px;
}

.footer-desc {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: 400;
}
.footer-contact h4{
    font-size: 20px;
    font-weight: 600;
}
.footer-contact p {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 600;
}

.footer-col h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 14px;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #bdbdbd;
    text-decoration: none;
    font-size: 14px;
}

.copyright-bar {
    background: #000000;
    border-top: 1px solid #2b2b2b;
    padding: 14px 0;
    text-align: center;
}

.copyright-bar p {
    color: #9e9e9e;
    font-size: 13px;
}

